@use "../variables" as v;

h1
{
	span
	{
		background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}