.faq
{
	.faq-question
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.faq-answer
	{
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.4s cubic-bezier( 0.65, 0.28, 0.11, 0.83 );
	}

	.faq-button
	{
		flex-grow: 0;
		flex-shrink: 0;
		cursor: pointer;
	}

	&.faq--active
	{
		.faq-answer
		{
			max-height: 200px;
		}
	}
}