// Cores neutras
$color-neutraul-0: #FFF;
$color-neutraul-100: #F8F9FC;
$color-neutraul-200: #F1F3F9;
$color-neutraul-250: #E1E6EF;
$color-neutraul-300: #DEDFE1;
$color-neutraul-700: #3F444D;
$color-neutraul-800: #23272F;
$color-neutraul-900: #1B1F27;
$color-neutraul-1000: #0A0D14;

// Cores primarias
$color-primary-50: #EEF9FF;
$color-primary-100: #DAF1FF;
$color-primary-200: #BCE8FF;
$color-primary-300: #8FDAFF;
$color-primary-400: #5AC3FF;
$color-primary-500: #33A7FE;
$color-primary-600: #1D89F3;
$color-primary-700: #1675E8;

// Cores secundarias
$color-secondary-100: #F8F5FF;
$color-secondary-700: #8B54F7;
$color-secondary-800: #6D35DE;
$color-secondary-900: #5221B5;

// Cores sucesso
$color-sucess-100: #EDFDF8;

// Cores aviso
$color-sucess-100: #FFF8EB;
$color-sucess-700: #96530F;
$color-sucess-800: #96530F;
$color-sucess-900: #80460D;

// Cores perigo
$color-danger-100: #FEF1F2;
$color-danger-700: #E02D3C;
$color-danger-800: #BA2532;
$color-danger-900: #981B25;

// Cores texto/icon
// Tema claro
$color-text-w-primary: #1D2433;
$color-text-w-secondary: #1D2433CC;
$color-text-w-disabled: #1D2433A6;
// Tema escuro
$color-text-b-primary: #FFFFFF;
$color-text-b-secondary: #FFFFFFBF;
$color-text-b-disabled: #FFFFFF99;

// Layout
$layout-content-width: 100%;

// Font
// Poppins
$font-poppins: "Open Sans", sans-serif;

// Break Points
$break-point-big: 1200px;
$break-point-medium: 768px;
$break-point-small: 640px;

// Spacing
// TextSpacing
